@import '../_variables.sass'
@import '../_mixins.sass'

.banner
  position: relative
  width: 100%
  height: 223px
  margin-top: 50px
  border-radius: $border-radius-large
  overflow: hidden
  filter: $banner-shadow
  @include tablet-version
    margin-top: 20px
    height: 111px
    border-radius: $border-radius-m

  &-img
    @include cover-img

  &-overlay
    @include absolute-cover
    z-index: 1
    opacity: 0.6
    background: $text-color
    &.lighter
      opacity: 0.3

  &__title
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: 2
    color: $white
    font-size: $font-size-xxl
    font-weight: 700
    text-shadow: $text-shadow
    text-align: center
    white-space: nowrap
    width: 90%
    @include tablet-version
      padding-right: 96px
      text-align: left
      font-size: $font-size-lg
      white-space: normal
