@import '../_variables.sass'
@import '../_mixins.sass'

.footer
  background-color: $text-color
  color: $white
  padding: 65px 0 30px
  text-align: center
  @include tablet-version
    padding: 66px 120px 58px

  &-text
    font-size: $font-size-lg
    font-weight: 500
    padding: $padding-md
    @include tablet-version
      font-size: $font-size-sm
      margin: 10px
      padding: 0
