.banner
  background-image: url('../assets/Banner/Banner.jpg')
  background-size: cover
  background-position: center
  height: 223px
  width: 100%
  margin-top: 50px
  border-radius: 25px
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
  // opacity: 0.6
  // background-color: darken($background-color, 60%)
  // background: #000
  // mix-blend-mode: darken
  h1
    text-align: center
    font-size: 48px
    font-weight: 700
    color: $white
    margin-top: 0
    padding-top: 80px
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    -webkit-text-stroke-width: 1
    -webkit-text-stroke-color: #000
    line-height: 1.4

.cards
  display: flex
  // flex-wrap: wrap
  flex-flow: row wrap
  justify-content: space-evenly
  // gap: 50px
  margin-top: 50px
  // justify-content: space-between
  // width: 100%
  // max-width: 1200px
  .card
    border-radius: 10px
    padding: 0
    width: 100%
    max-width: 340px
    height: 340px
    // overflow: hidden
    // max-width: 340px
    // max-height: 340px
    // position: relative
    &:hover
      transform: scale(1.01)
      transition: transform 0.2s
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
