@import normalize.css
@import 'variables.sass'
@import 'mixins.sass'
@import 'Header.sass'
@import 'Banner.sass'
@import 'Home.sass'
@import 'Footer.sass'
@import 'ErrorPage.sass'
@import 'About.sass'

*
  box-sizing: border-box
  margin: 0
  padding: 0

#root
  display: flex
  flex-direction: column
  min-height: 100vh

main
  flex: 1

body
  line-height: 1.4
  font-family: $font-family
  color: $text-color
  .content-wrapper
    padding-left: 100px
    padding-right: 100px
  h1, h2, h3, h4, h5, h6
    font-family: $font-family
    font-weight: 700
    color: $text-color
  img
    object-fit: cover
  header, main,.content-wrapper
    margin: 0 auto
    max-width: 1440px
    min-height: 0
    min-height: auto
    width: 100%
    width: -webkit-fill-available
  footer
    padding-left: 0
    padding-right: 0
