@import normalize.css
@import 'variables.sass'
@import 'mixins.sass'
@import 'Header.sass'
@import 'Banner.sass'
@import 'Home.sass'
@import 'Footer.sass'
@import 'ErrorPage.sass'
@import 'About.sass'
@import 'Property.sass'
@import 'Slider.sass'

*
  box-sizing: border-box
  margin: 0
  padding: 0

.app-container
  display: flex
  flex-direction: column
  min-height: 100vh

main
  flex: 1
  display: flex
  flex-direction: column

body
  line-height: 1.4
  font-family: $font-family
  color: $text-color

  header, .content-wrapper
    padding-left: 100px
    padding-right: 100px
    // flex-grow: 1

  h1, h2, h3, h4, h5, h6
    font-family: $font-family
    font-weight: 700
    color: $text-color

  img
    object-fit: cover

  header, main, .content-wrapper
    margin: 0 auto
    max-width: 1440px
    width: 100%

footer
  padding-left: 0
  padding-right: 0
